@charset "utf-8";


@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(/static/css/webfonts/NotoSansKR-Light.woff2) format('woff2'),
    url(/static/css/webfonts/NotoSansKR-Light.woff) format('woff'),
    url(/static/css/webfonts/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(/static/css/webfonts/NotoSansKR-Regular.woff2) format('woff2'),
    url(/static/css/webfonts/NotoSansKR-Regular.woff) format('woff'),
    url(/static/css/webfonts/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    src:url(/static/css/webfonts/NotoSansKR-Medium.woff2) format('woff2'),
    url(/static/css/webfonts/NotoSansKR-Medium.woff) format('woff'),
    url(/static/css/webfonts/NotoSansKR-Medium.otf) format('opentype');
    font-style: normal;
    font-weight: 500;
}


/* Reset*/
html {overflow-y:scroll; overflow:-moz-scrollbars-verticals;}
html, body{}
* {
    word-break:keep-all;/*줄바꿈속성 추가*/
    margin:0; padding:0; border:0; /*outline: 0;*/
    box-sizing: border-box; /* W3C */
    -o-box-sizing: border-box; /* Opera */
    -ms-box-sizing: border-box; /* Internet Explorer */
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari & Chrome */
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
ul, dl {list-style:none; padding-left: 0px; margin: 0; text-align: left; line-height: 28px; margin-bottom: 0px; letter-spacing: 0px;}/*letter-spacing: -1px;*/
img, video {max-width:100%;border:0;vertical-align:top;}
table { border-collapse:collapse; border-spacing:0; }
input, select {vertical-align:middle; }
label {cursor:pointer;}
i,em,address {font-style:normal; font-weight:normal;}
.blind,legend,caption {display:block;overflow:hidden;position:absolute;top:0;left:-1000em;height:0;width:0;font-size:0;}

body, h1, h2, h3, h4, h5, h6{font-family:"Noto Sans KR", "Malgun Gothic","Nanum Gothic", NanumGothic, Dotum,"돋움";font-size:16px;line-height:26px;color:#000000;font-weight:300;}
div {position: relative;}
a:link	{text-decoration:none;color:#000;}
a:visited{text-decoration:none;color:#000;}
a:hover {text-decoration:none;color:#000;}
a:active {text-decoration:none;color:#000;}
a:focus {text-decoration:none;color:#000;}
/*a:focus-visible {outline: dotted 2px red;}*/

/*common*/
.tac{text-align:center !important;}
.tar{text-align:right !important;}
.taj{text-align:justify !important;}
.tal{text-align:left !important;}
.vat{ vertical-align:top !important;}
.vam{ vertical-align:middle !important;}
.vab{ vertical-align:bottom !important;}
.clb{clear:both;}
.posr{position:relative;}


/*font-weight*/
.fw300{font-weight:300;}
.fw400{font-weight:400;}
.fw500{font-weight:500;}

.fc_point{color:#0077c0 !important;}
.fc_point2{color:#ffa800 !important;}
.fc_red{color:#d10909 !important;}
.fc_blue{color:#29558D !important;}
.fc_blue2{color:#0081dc !important;}
.fc_yellow{color:#e67701 !important;}
.fc_green{color:#dc5e01 !important;}
.fc_gray9{color:#999 !important;}
.fc_gray8{color:#888 !important;}
.fc_gray7{color:#777 !important;}
.fc_gray6{color:#666 !important;}
.fc_gray5{color:#555 !important;}
.fc_gray4{color:#444 !important;}
.fc_gray3{color:#333 !important;}
.fc_gray2{color:#222 !important;}
.fc_white{color:#fff !important;}
.fc_bd_point{color:#f29400 !important;}

.fs11{font-size:11px !important;}
.fs12{font-size:12px !important;}
.fs13{font-size:13px !important;}
.fs14{font-size:14px !important;}
.fs15{font-size:15px !important;}
.fs16{font-size:16px !important;}
.fs17{font-size:17px !important;}
.fs18{font-size:18px !important;}
.fs19{font-size:19px !important;}
.fs20{font-size:20px !important;}
.fs21{font-size:21px !important;}
.fs23{font-size:23px !important;}
.fs25{font-size:25px !important;}
.fs27{font-size:27px !important;}
.fs29{font-size:29px !important;}
.fs31{font-size:31px !important;}
.fs33{font-size:33px !important;}
.fs35{font-size:35px !important;}

.lh14{line-height:14px !important;}
.lh15{line-height:15px !important;}
.lh16{line-height:16px !important;}
.lh17{line-height:17px !important;}
.lh18{line-height:18px !important;}
.lh19{line-height:19px !important;}
.lh20{line-height:20px !important;}
.lh21{line-height:21px !important;}
.lh22{line-height:22px !important;}
.lh23{line-height:23px !important;}
.lh24{line-height:24px !important;}
.lh25{line-height:25px !important;}
.lh26{line-height:26px !important;}
.lh27{line-height:27px !important;}

.lsm2{letter-spacing:-2px !important;}
.lsm1{letter-spacing:-1px !important;}
.lsm06{letter-spacing:-0.6px !important;}
.lsm04{letter-spacing:-0.4px !important;}
.ls0{letter-spacing:0 !important;}



/*padding margin*/
.pdB100{ padding-bottom:100px !important;}
.pdB90{ padding-bottom:90px !important;}
.pdB80{ padding-bottom:80px !important;}
.pdB75{ padding-bottom:75px !important;}
.pdB70{ padding-bottom:70px !important;}
.pdB65{ padding-bottom:65px !important;}
.pdB60{ padding-bottom:60px !important;}
.pdB55{ padding-bottom:55px !important;}
.pdB50{ padding-bottom:50px !important;}
.pdB45{ padding-bottom:45px !important;}
.pdB40{ padding-bottom:40px !important;}
.pdB35{ padding-bottom:35px !important;}
.pdB30{ padding-bottom:30px !important;}
.pdB25{ padding-bottom:25px !important;}
.pdB20{ padding-bottom:20px !important;}
.pdB15{ padding-bottom:15px !important;}
.pdB14{ padding-bottom:14px !important;}
.pdB13{ padding-bottom:13px !important;}
.pdB12{ padding-bottom:12px !important;}
.pdB11{ padding-bottom:11px !important;}
.pdB10{ padding-bottom:10px !important;}
.pdB9{ padding-bottom:9px !important;}
.pdB8{ padding-bottom:8px !important;}
.pdB7{ padding-bottom:7px !important;}
.pdB6{ padding-bottom:6px !important;}
.pdB5{ padding-bottom:5px !important;}
.pdB4{ padding-bottom:4px !important;}
.pdB3{ padding-bottom:3px !important;}
.pdB2{ padding-bottom:2px !important;}
.pdB1{ padding-bottom:1px !important;}

.pdT100{ padding-top:100px !important;}
.pdT90{ padding-top:90px !important;}
.pdT80{ padding-top:80px !important;}
.pdT75{ padding-top:75px !important;}
.pdT70{ padding-top:70px !important;}
.pdT65{ padding-top:65px !important;}
.pdT60{ padding-top:60px !important;}
.pdT55{ padding-top:55px !important;}
.pdT50{ padding-top:50px !important;}
.pdT45{ padding-top:45px !important;}
.pdT40{ padding-top:40px !important;}
.pdT35{ padding-top:35px !important;}
.pdT30{ padding-top:30px !important;}
.pdT25{ padding-top:25px !important;}
.pdT20{ padding-top:20px !important;}
.pdT15{ padding-top:15px !important;}
.pdT14{ padding-top:14px !important;}
.pdT13{ padding-top:13px !important;}
.pdT12{ padding-top:12px !important;}
.pdT11{ padding-top:11px !important;}
.pdT10{ padding-top:10px !important;}
.pdT9{ padding-top:9px !important;}
.pdT8{ padding-top:8px !important;}
.pdT7{ padding-top:7px !important;}
.pdT6{ padding-top:6px !important;}
.pdT5{ padding-top:5px !important;}
.pdT4{ padding-top:4px !important;}
.pdT3{ padding-top:3px !important;}
.pdT2{ padding-top:2px !important;}
.pdT1{ padding-top:1px !important;}


.mrgB70{ margin-bottom:70px !important;}
.mrgB60{ margin-bottom:60px !important;}
.mrgB50{ margin-bottom:50px !important;}
.mrgB45{ margin-bottom:45px !important;}
.mrgB40{ margin-bottom:40px !important;}
.mrgB35{ margin-bottom:35px !important;}
.mrgB30{ margin-bottom:30px !important;}
.mrgB25{ margin-bottom:25px !important;}
.mrgB20{ margin-bottom:20px !important;}
.mrgB15{ margin-bottom:15px !important;}
.mrgB14{ margin-bottom:14px !important;}
.mrgB13{ margin-bottom:13px !important;}
.mrgB12{ margin-bottom:12px !important;}
.mrgB11{ margin-bottom:11px !important;}
.mrgB10{ margin-bottom:10px !important;}
.mrgB9{ margin-bottom:9px !important;}
.mrgB7{ margin-bottom:7px !important;}
.mrgB6{ margin-bottom:6px !important;}
.mrgB5{ margin-bottom:5px !important;}
.mrgB4{ margin-bottom:4px !important;}
.mrgB3{ margin-bottom:3px !important;}
.mrgB2{ margin-bottom:2px !important;}
.mrgB1{ margin-bottom:1px !important;}

.mrgT70{ margin-top:70px !important;}
.mrgT60{ margin-top:60px !important;}
.mrgT50{ margin-top:50px !important;}
.mrgT45{ margin-top:45px !important;}
.mrgT40{ margin-top:40px !important;}
.mrgT35{ margin-top:35px !important;}
.mrgT30{ margin-top:30px !important;}
.mrgT25{ margin-top:25px !important;}
.mrgT20{ margin-top:20px !important;}
.mrgT15{ margin-top:15px !important;}
.mrgT14{ margin-top:14px !important;}
.mrgT13{ margin-top:13px !important;}
.mrgT12{ margin-top:12px !important;}
.mrgT11{ margin-top:11px !important;}
.mrgT10{ margin-top:10px !important;}
.mrgT9{ margin-top:9px !important;}
.mrgT7{ margin-top:7px !important;}
.mrgT6{ margin-top:6px !important;}
.mrgT5{ margin-top:5px !important;}
.mrgT4{ margin-top:4px !important;}
.mrgT3{ margin-top:3px !important;}
.mrgT2{ margin-top:2px !important;}
.mrgT1{ margin-top:1px !important;}

.h10 { height:10px !important;}
.h20 { height:20px !important;}
.h30 { height:30px !important;}
.h40 { height:40px !important;}
.h50 { height:50px !important;}
.h60 { height:60px !important;}
.h70 { height:70px !important;}
.h80 { height:80px !important;}
.h90 { height:90px !important;}

.hidden{display:none;}

/* comment */
.cmt {font-size: 15px; font-weight: 300; color: #3f3f3f; line-height: 22px; display: block; margin-top: 5px; text-align: left;}
.cmt.poR {position: absolute; right: 0; display: inline-block;}
.cmt.poTR {position: absolute; top: -35px; right: 0; display: inline-block;}


.bgcT {background: transparent !important;}

