<div class="copyright">
    <h1>NH농협은행 규제대응지원포털 저작권 보호정책</h1>

    <br><br>

    <p>농협은행 주식회사(이하 “은행”)가 NH농협은행 규제대응지원포털(이하 “포털”)에 제공하는 모든 자료는 저작권법에 의하여 보호받는 저작물로서 이용자는 아래의 저작권 보호정책을 준수하여야 합니다.</p>

    <ol class="num">
        <li>포털에 제공하는 자료 중 은행이 직접 작성·게시한 자료는 은행이 저작권을 가지며 관련 법령을 위반한 복제 및 배포를 금지합니다.</li>
        <li>포털 이용자는 은행이 저작권을 가지는 자료를 왜곡, 개작, 변조하지 않을 것을 확약하며 은행은 이를 통해 발생한 문제에 대해서는 책임을 지지 않습니다. 또한 사전의 서면 허가 없이 은행이 저작권을 가지는 자료를 이용하여 영리·비영리 목적의 정보서비스를 제공하거나 판매 할 수 없습니다.</li>
        <li>포털에 제공하는 자료 중 은행이 직접 작성하지 않은 자료에 대해서는 해당 자료의 저작권자의 저작권 보호정책에 따릅니다.</li>
    </ol>

    <p>포털을 링크하여 사용하고자 하는 경우 관리자에게 문의하여야 합니다.</p>
</div>